@import 'variables';

:host
{
  background-color: $color-primary-hover;
  color: $white;
  display: block;
  height: height(offline-message);
  position: fixed;
  top: $height-nav-header;
  left: 0;
  right: 0;
  font-size: rem-calc(14);
  line-height: height(offline-message);
  z-index: 200;

  &.hidden
  {
    display: none;
  }  
}
