@import 'variables';

:host
{
  background-color: $white;
  border-top: border(default);
  display: block;
  padding: rem-calc(10) 0;
}

svg
{
  display: block;
  margin: auto;
}

a
{
  &:hover
  {
  }

  &.active
  {

    &:hover
    {
    }    

      svg
      {
      }    
  }
}