@import 'variables';

:host
{
  background-color: $white;
  border-top: border(default);
  display: block;
  padding: rem-calc(10) 0;  
  z-index: 200;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;  
}

svg
{
  display: block;
  margin: auto;
}
