@import 'variables';

:host
{
  display: block;
}

app-header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;  
}

.page-wrapper
{
  margin-top: height(nav-header);
  margin-bottom: height(page-bottom-offset);
}

app-footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}