@import 'variables';

:host
{
  display: block;
}

app-header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;  
}

router-outlet
{
  display: block;
  margin-top: height(nav-header);
}

app-footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}