body
{
	font: font(default);
}

*
{
  margin: 0;  
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section 
{
  display: block; 
}

a
{
  cursor: pointer;
  text-decoration: none;
}