<section *ngIf="blogService.BlogDetailStream | async; let blogModel">
  <app-page-title [pageTitle]="blogModel.title"></app-page-title>

  <section class="grid-container">
    <section class="grid-y grid-margin-y-bottom">

      <!-- MAP -->
      <div class="cell" *ngIf="(blogModel.latitude && blogModel.longitude)">
        <app-map-box [latitude]="blogModel.latitude" [longitude]="blogModel.longitude"></app-map-box>
      </div>

      <!-- IMAGES -->
      <div class="cell">
        <app-image-slider [blogModel]="blogModel"></app-image-slider>
      </div>

      <!-- ABOUT -->
      <div class="cell">
        {{blogModel.shortDescription}}
      </div>
      <div class="cell" [innerHTML]="blogModel.longDescription | htmlSanitizer"></div>

    </section>
  </section>
</section>