@import 'variables';

:host
{
  background-color: $black;
  display: block;
  height: height(nav-header);
	z-index: 200;
}

h1
{
	&.logo
	{
		color: $white;
		font: font(header);
	}
}

a
{
	&.nav-toggle
	{
		cursor: pointer;
		display: block;
		padding: rem-calc(24) 0;
		width: rem-calc(35);

		span,
		span:before,
		span:after
		{
			background: $white;
			border-radius: rem-calc(1);
			content: '';
			cursor: pointer;
			display: block;
			height: rem-calc(5);
			position: absolute;
			transition: all 500ms ease-in-out;
			width: rem-calc(28);
		}

		span
		{
			&:before
			{
				top: rem-calc(-10);
			}

			&:after
			{
				bottom: rem-calc(-10);
			}
		}

		&.active
		{
			span
			{
				background-color: transparent;

				&:before,
				&:after
				{
					top: 0;
				}

				&:before
				{
					transform: rotate(45deg);
				}

				&:after
				{
					transform: rotate(-45deg);
				}
			}
		}
	}  

	&.nav-label
	{
		color: $white;
		font: font(thin);
		font-size: rem-calc(16);

		&.menu
		{
			margin: 0 0 0 rem-calc(8);
		}
	}
}