@import 'variables';

:host
{
  background-color: $color-primary;
  display: block;
  height: height(nav-header);
	z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	/* Status bar height on iOS 10 */
	padding-top: 20px;
	/* Status bar height on iOS 11.0 */
	padding-top: constant(safe-area-inset-top);
	/* Status bar height on iOS 11+ */
	padding-top: env(safe-area-inset-top);	
}

h1
{
	&.logo
	{
		color: $white;
		font: font(header);
	}
}

a
{
	&.nav-toggle
	{
		cursor: pointer;
		display: block;

		span,
		span:before,
		span:after
		{
			background: $white;
			border-radius: rem-calc(1);
			content: '';
			cursor: pointer;
			display: block;
			height: rem-calc(5);
			position: absolute;
			transition: all 500ms ease-in-out;
			width: rem-calc(28);
		}

		span
		{
			&:before
			{
				top: rem-calc(-10);
			}

			&:after
			{
				bottom: rem-calc(-10);
			}
		}

		&.active
		{
			span
			{
				background-color: transparent;

				&:before,
				&:after
				{
					top: 0;
				}

				&:before
				{
					transform: rotate(45deg);
				}

				&:after
				{
					transform: rotate(-45deg);
				}
			}
		}
	}  

	&.nav-label
	{
		color: $white;
		font: font(thin);
		font-size: rem-calc(20);
		line-height: rem-calc(42);

		&.menu
		{
			margin: 0 0 0 rem-calc(8);
		}
	}
}