@import 'variables';

:host
{
  border-bottom: border(default);
  display: block;
  max-width: width(page);
  margin: auto;
  margin-bottom: 2.5rem;  
  padding-top: 2.25rem;
  padding-bottom: rem-calc(16);
}
