@import 'variables';

:host
{
  border-bottom: border(default);
  display: block;
  max-width: width(page);
  margin: auto;
  margin-bottom: rem-calc(24);  
  padding-top: rem-calc(32);
  padding-bottom: rem-calc(14);
}
