@import 'variables';

:host 
{
  background-color: $gray-300;
  display: block;
  height: rem-calc(260);
  position: relative;

  @include breakpoint(small)
  {
    margin: 0 -16px 16px -16px;
  }

  @include breakpoint(medium up)
  {
    margin: 0 -24px 16px -24px;
  }    
}

.bcg-image 
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}